.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logoContainer {
    cursor: pointer;
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}
