.vscode
/app/.eslintrc.json
/app/package-lock.json
/service/scripts/crawling/.ipynb_checkpoints
*.DS_Store
/service/scripts/.venv/
/app/app/node_modules/
package-lock.json
app.env
*.csv
/scripts/.venv/
go.sum
go.mod
/GUI
*.DS_Store